:root {
  --main-color: #3b141c;
  --nav-links: beige;
  --logo-text: #eeebec;
  --white-color: snow;
  --secondry-color: #f4971c;
  --dark-color: rgb(20, 13, 13);
  --light-bink-gray: rgb(234, 212, 215);
  --links-background: #d07620;
  --border-radius-m: 25px;
  --border-radius-circle: 50%;
  --font-size-m: 15px;
  --font-size-ll: 35px;
  --font-size-l: 25px;
  --font-size-logo: 30px;
  --font-weight-logo: bolder;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--dark-color);
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

img {
  width: 100%;
}

.section-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 90%;
}

header {
  background: var(--main-color);
  position: fixed;
  width: 100%;
  z-index: 5;
}

.navbar .nav-menu .navlink {
  color: var(--nav-links);
  padding: 10px 18px;
  border-radius: var(--border-radius-m);
  font-size: var(--font-size-m);
  transition: 0.4s ease;
}

.navbar .nav-menu .navlink:hover {
  background: var(--secondry-color);
  color: var(--main-color);
}

.navbar .logo .logo-text {
  color: var(--logo-text);
  font-size: var(--font-size-logo);
  font-weight: var(--font-weight-logo);
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.navbar .nav-menu {
  display: flex;
  gap: 10px;
}

#menu-close-button,
#menu-open-button {
  display: none;
}

.hero-section {
  min-height: 100vh;
  background: var(--main-color);
}

.hero-section .section-content {
  display: flex;
  align-items: center;
  min-height: 100vh;
  color: var(--white-color);
  justify-content: space-between;
}

.hero-section .hero-details .title {
  font-size: var(--font-size-ll);
  color: var(--secondry-color);
  font-family: sans-serif;
  margin-bottom: 10px;
  max-width: 70%;
}

.hero-section .hero-details .subtitle {
  font-size: var(--font-size-l);
  color: bisque;
  font-weight: 500;
  margin-bottom: 10px;
  max-width: 70%;
}

.hero-section .hero-details p {
  margin-bottom: 30px;
  color: var(--white-color);
  max-width: 70%;
}

.hero-section .hero-image-wrapper {
  max-width: 500px;
  margin-right: 30px;
  animation: slideIn 2s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.hero-section .hero-details .buttons {
  display: flex;
  gap: 23px;
}

.hero-details .buttons .button {
  background-color: var(--secondry-color);
  padding: 10px 16px;
  color: var(--main-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-m);
  margin-right: 10px;
  transition: 0.3s ease;
}

.hero-details .buttons .button:hover {
  color: var(--white-color);
  border-color: bisque;
  background: transparent;
}

.about-section {
  padding: 120px 0;
  background: var(--light-bink-gray);
}

.about-section .section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.about-section .about-image-wrapper .about-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: var(--border-radius-circle);
}

.section-title {
  text-align: center;
  padding: 60px 0 100px;
  text-transform: uppercase;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-logo);
}

.section-title::after {
  content: "";
  width: 80px;
  height: 5px;
  display: block;
  margin: 10px auto 0;
  border-radius: var(--border-radius-m);
  background: var(--secondry-color);
}

.about-section .about-details .section-title {
  padding: 0;
}

.about-section .about-details .text {
  line-height: 30px;
  margin: 50px 0 30px;
  text-align: center;
  font-size: var(--font-size-l);
}

.about-section .about-details .social-links-list {
  display: flex;
  justify-content: center;
}

.about-section .about-details {
  max-width: 50%;
}

.about-section .about-details .social-links {
  font-size: var(--font-size-l);
  outline: none;
  transition: 0.5s ease;
  padding: 10px 18px;
  border-radius: var(--border-radius-circle);
}

#facebook {
  transition: transform 0.5s ease;
}

#instagram {
  color: purple;
  transition: transform 0.5s ease;
}

#twitter {
  color: black;
  transition: transform 0.5s ease;
}

#facebook:hover,
#instagram:hover,
#twitter:hover {
  transform: scale(1.3);
}

/*menu-section styling*/

.menu-section {
  color: var(--white-color);
  background: var(--dark-color);
  padding: 50px 0 100px;
}

.menu-section .menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 110px;
  justify-content: space-between;
}

.menu-section .menu-list .menu-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: calc(100% / 3 - 110px);
}
.menu-section .menu-list .menu-item .menu-iamge {
  max-width: 83%;
  aspect-ratio: 1;
  margin-bottom: 15px;
  object-fit: contain;
}

.menu-section .menu-list .menu-item .name {
  margin: 12px 0;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-logo);
}

.menu-section .menu-list .menu-item .text {
  font-size: var(--font-size-m);
  color: bisque;
}

/*testimoials section styling*/
.testimonials-section {
  padding: 50px 0 100px;
  background: var(--light-bink-gray);
}

.testimonials-section .slider-wrapper {
  overflow: hidden;
  margin: 0 60px 50px;
}

.testimonials-section .testimonial {
  display: flex;
  padding: 35px;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.testimonials-section .testimonial .user-image {
  width: 180px;
  height: 180px;
  object-fit: cover;
  margin-bottom: 50px;
  border-radius: var(--border-radius-circle);
}

.testimonials-section .testimonial .name {
  line-height: 25px;
}

.testimonials-section .testimonial .feedback {
  margin-bottom: 16px;
  font-size: var(--font-size-m);
}

.testimonials-section .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  opacity: 1;
  background: var(--main-color);
}

.testimonials-section .swiper-slide-button {
  margin-top: -50px;
  color: var(--main-color);
  transition: 0.5s ease;
}

.testimonials-section .swiper-slide-button:hover {
  color: var(--secondry-color);
}

.gallery-section {
  padding: 50px 0 100px;
}

.gallery-section .gallery-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.gallery-item {
  overflow: hidden;
  border-radius: var(--border-radius-m);
  width: calc(100% / 3 - 32px);
}

.gallery-item .gallery-image {
  width: 100%;
  height: 100%;
  cursor: zoom-in;
  transition: 0.3s ease;
}

.gallery-item:hover .gallery-image {
  transform: scale(1.3);
}

/*contact us section*/
.contact-section {
  padding: 50px 0 100px;
  background: var(--light-bink-gray);
}

.contact-section .section-content {
  display: flex;
  gap: 48px;
  align-items: flex-start;
  justify-content: space-between;
}

.contact-section .contact-info-list .contact-info {
  display: flex;
  gap: 20px;
  margin: 20px 0;
  align-items: center;
}

.contact-section .contact-info-list .contact-info i {
  font-size: var(--font-size-m);
}

.contact-section .contact-form .form-input {
  width: 100%;
  height: 50px;
  padding: 0 12px;
  outline: none;
  margin-bottom: 16px;
  background: var(--white-color);
  border-radius: 10px;
  border: 1px solid var(--dark-color);
}

.contact-section .contact-form {
  max-width: 50%;
}

.contact-section .contact-form .form-input:focus {
  border-color: var(--secondry-color);
}

.contact-section .contact-form .textarea {
  height: 100px;
  width: 100%;
  min-height: 50px;
  border-radius: 10px;
  padding: 12px;
  resize: vertical;
  border: 1px solid var(--dark-color);
  outline: none;
}
.contact-section .contact-form .textarea:focus {
  border-color: var(--secondry-color);
}

.contact-section .contact-form .submit-button {
  padding: 10px 26px;
  color: var(--white-color);
  background: var(--main-color);
  border-radius: var(--border-radius-m);
  font-weight: var(--font-weight-logo);
  font-size: var(--font-size-m);
  margin-top: 10px;
  border: 1px solid var(--main-color);
  transition: 0.5s ease;
}

.contact-section .contact-form .submit-button:hover {
  background: transparent;
  color: var(--main-color);
}

/* the footer section*/
.footer-section {
  padding: 20px 0;
  background: var(--main-color);
}

.footer-section .section-content {
  display: flex;
  justify-content: space-between;
}

.footer-section .copyright-text,
.footer-section .policy-link,
.seperator,
.footer-section .section-content .social-links-list #facebook,
.footer-section .section-content .social-links-list #twitter,
.footer-section .section-content .social-links-list #instagram {
  color: white;
}

.footer-section .section-content .social-links-list {
  display: flex;
  gap: 15px;
}

.policy-link {
  cursor: not-allowed;
}

/*responsive for the max width 1024px*/
@media screen and(max-width:1024) {
  .menu-section .menu-list {
    gap: 60px;
  }
  .menu-section .menu-list .menu-item {
    width: calc(100% / 3 - 60px);
  }
}

/* responsive for the max width is 900px*/
@media screen and (max-width: 900px) {
  :root {
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
  }

  #menu-close-button,
  #menu-open-button {
    display: block;
    font-size: var(--font-size-l);
  }

  .navbar #menu-close-button {
    position: absolute;
    right: 30px;
    top: 30px;
  }

  .navbar #menu-open-button {
    color: var(--white-color);
  }
  .navbar .nav-menu {
    display: block;
    position: fixed;
    left: -310px;
    top: 0;
    width: 310px;
    height: 100%;
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    transition: left 0.9s ease;
  }
  .navbar .nav-menu .navlink {
    display: flex;
    justify-content: center;
    color: var(--dark-color);
    font-size: var(--font-size-l);
    margin-top: 17px;
  }

  #page-content.blur {
    filter: blur(5px);
    transition: filter 0.3s ease;
  }

  .hero-section .section-content {
    gap: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 30px 20px 20px;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .hero-section .hero-details .title,
  .hero-section .hero-details .subtitle,
  .hero-section .hero-details .discription {
    max-width: 100%;
  }

  .hero-section .section-content .buttons {
    justify-content: center;
  }

  .hero-section .hero-image-wrapper {
    max-width: 270px;
    margin-right: 0;
  }

  .about-section .section-content {
    flex-direction: column-reverse;
    gap: 70px;
  }

  .about-section .about-details {
    max-width: 100%;
  }
  .about-section .about-image-wrapper .about-image {
    width: 100%;
    height: 100%;
    max-width: 250px;
    aspect-ratio: 1;
  }

  .menu-section .menu-list {
    gap: 30px;
  }
  .menu-section .menu-list .menu-item {
    width: calc(100% / 2 - 30px);
  }

  .menu-section .menu-list .menu-item .menu-image {
    max-width: 200px;
  }

  .gallety-item {
    gap: 30px;
  }

  .gallery-item {
    width: calc(100% / 2 - 30px);
  }

  .contact-section .section-content {
    align-items: center;
    flex-direction: column-reverse;
  }

  .contact-section .contact-form {
    max-width: 100%;
}
  .footer-section .section-content {
    font-size: 10px;
  }

  .footer-section .section-content {
    font-size: 12px;
  }
}

/* when the max-width is 640 px*/
@media screen and (max-width: 640px) {
  .menu-section .menu-list {
    gap: 60px;
  }
  .menu-section .menu-list .menu-item,
  .gallery-section .gallery-list .gallery-item {
    width: 100%;
  }
  .testimonials-section .swiper-slide-button {
    display: none;
  }
  .testimonials-section .swiper-slider-wrapper {
    margin: 0 0 30px;
  }

  .gallery-item {
    width: calc(100% / 1 - 30px);
  }

  .footer-section .section-content .social-links-list {
    gap: 7px;
  }

  .footer-section .section-content {
    font-size: 10px;
  }
}
